* {
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    height: 8vh;
    color: white;
    
    
}

#title {
    font-family: 'Pacifico', cursive;
    padding: 5px;
    margin-top: 0px;
}

#title:hover {
    text-decoration: underline;
    background: lightblue;
    border-radius: 2px;
    

}

#home-button {
    text-decoration: none;
    color: white;
}

.nav-list {
    display: flex;
    list-style: none;
    margin-top: 3%;

}

.nav-links {
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    font-family: 'Asap', sans-serif;
    
}

.nav-links:hover {
    text-decoration: underline;
    background: lightblue;
    border-radius: 2px;
}
#homepage {
    /* margin-top: 20vh; */
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80vh;
    
    /* flex-direction: column; */
    /* justify-content: space-around; */

}

footer {
    height: 15vh;
    background-color: beige;
    display: flex;
    justify-content: space-between;
}

svg {
    height: 5vh
    
}

#links {
    margin-left: 30%;
}
.footer-list {
    display: flex;
    list-style: none;
    /* margin-top: 3%; */

}

.footer-links {
    padding: 12px 20px;
    color: black;
    text-decoration: none;
    font-family: 'Asap', sans-serif;
    
}

.footer-links:hover {
    text-decoration: underline;
    background: pink;
    border-radius: 2px;
}

h1 {
    margin-top: 10px;
    margin-left: 20px;
    /* margin: 1px; */
}

section {
    display: flex;
    flex-direction: column;
}

#statement {
    margin-top: 5%;
    text-align: center;
    width: 80vw;
}

h3 {
    margin-top: 5%;
    text-align: center;
}

#skills {
    list-style: none;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

#skills h3 {
    margin-left: 0%;
}

#skills li {
    border-style: solid;
    margin-left: 0;
    background: lightblue;
    padding: 2px;
    
}


@media screen and (max-width: 662px) {
    header {
        height: 10vh;
    }
    #title {
        margin-left: 7px;
        font-size: 25px;
        text-align: center;
    }

    #links {
        margin-left: 10%;
    }

    .nav-links {
        padding: 8px 10px;
        
    }
   
    svg {
        height: 2.5vh;
        
    }

    footer {
        margin-top: 90px;
        height: 5vh;
        
    }
    
    #statement {
        margin-top: 5%;
        text-align: center;
        width: 80vw;
    }
    
    
}